<footer>
  <div class="footer-section">
    <div class="footer-section-wrapper">
      <div class="card card1">
        <div class="card-header">Site name</div>
        <div class="card-footer">
          <img src="assets/svgs/facebook-icon.svg" alt="facebook icon" />
          <img src="assets/svgs/linkedin-icon.svg" alt="linkedin icon" />
          <img src="assets/svgs/youtube-icon.svg" alt="youtube icon" />
          <img src="assets/svgs/instagram-icon.svg" alt="instagram icon" />
        </div>
      </div>
      <div class="card card2">
        <div class="card-item">Topic</div>
        <div class="card-item">Page</div>
        <div class="card-item">Page</div>
        <div class="card-item">Page</div>
      </div>
      <div class="card card3">
        <div class="card-item">Topic</div>
        <div class="card-item">Page</div>
        <div class="card-item">Page</div>
        <div class="card-item">Page</div>
      </div>
      <div class="card card4">
        <div class="card-item">Topic</div>
        <div class="card-item">Page</div>
        <div class="card-item">Page</div>
        <div class="card-item">Page</div>
      </div>
    </div>
  </div>
</footer>
