<main>
  <section class="hero-section">
    <section class="hero-section-wrapper">
      <div class="title">Landing page title</div>
      <div class="sub-title">And a subheading describing your site, too</div>
      <button>Button</button>
    </section>
  </section>
  <section class="gallery-section">
    <div class="gallery-section-wrapper">
      <div class="card card1">
        <div class="title">Heading</div>
        <div class="sub-title">
          A subheading for this section, as long or as short as you like
        </div>
        <button>Button</button>
      </div>
      <div class="card card2">
        <img src="assets/images/pear-fruit.svg" alt="watermelon fruit" />
      </div>
      <div class="card card3">
        <img src="assets/images/watermelon-fruit.svg" alt="watermelon fruit" />
      </div>
      <div class="card card4">
        <div class="title">Heading</div>
        <div class="sub-title">
          Another subheading maybe it's related to the image on the left, or the
          button below
        </div>
        <button>Button</button>
      </div>
    </div>
  </section>
  <section class="details-section">
    <div class="details-section-wrapper">
      <div class="details-section-head">Heading</div>
      <div class="details-section-body">
        <div class="card">
          <div class="icon">
            <img src="assets/svgs/globe-icon.svg" alt="globe icon" />
          </div>
          <div class="title">Subheading</div>
          <div class="desc">
            Body text for whatever you'd like to say. Add main takeaway points,
            quotes, anecdotes, or even a very very short story.
          </div>
        </div>
        <div class="card">
          <div class="icon">
            <img src="assets/svgs/avatar-icon.svg" alt="avatar icon" />
          </div>
          <div class="title">Subheading</div>
          <div class="desc">
            Body text for whatever you'd like to say. Add main takeaway points,
            quotes, anecdotes, or even a very very short story.
          </div>
        </div>
        <div class="card">
          <div class="icon">
            <img src="assets/svgs/lock-icon.svg" alt="lock icon" />
          </div>
          <div class="title">Subheading</div>
          <div class="desc">
            Body text for whatever you'd like to say. Add main takeaway points,
            quotes, anecdotes, or even a very very short story.
          </div>
        </div>
        <div class="card">
          <div class="icon">
            <img src="assets/svgs/calendar-icon.svg" alt="calendar icon" />
          </div>
          <div class="title">Subheading</div>
          <div class="desc">
            Body text for whatever you'd like to say. Add main takeaway points,
            quotes, anecdotes, or even a very very short story.
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sub-hero-section">
    <section class="sub-hero-section-wrapper">
      <div class="title">Heading</div>
      <div class="sub-title">Plus a subheading for your site's footer</div>
      <button>Button</button>
    </section>
  </section>
</main>
